@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Wix+Madefor+Display:wght@400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    font-family: 'Jura', sans-serif; /*ur main font and style*/
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
    -webkit-scroll-behavior: smooth; /*weblit helps for crossbrowser compatibility*/
}
body {
    width:100%;
    height: 0vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "heading"
                         "content"
                         "ending";
    margin: 0;
    overflow-y: unset; /*u can set later to scroll, but first clean mispositioning in div*/
    scroll-behavior: smooth; /*let u scroll smoother, also we need to adjust the scrolling so the section is adjusted to header or let header stop before section, so the start of it is visible*/
}
section{
    position: relative;
    height:100%;
    width:100%;
    min-width:auto;
    min-height:auto;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:0;
    padding: 5%;
}
#home{
    /* background: blue;*/
    z-index: -1;
    /*z-ind
    ex controls the position of the "layer" (element) -1 is lower than 1, just worksunder special positining and display conditions*/
    background-image: url("./assets/images/PhotoReal_school_building_3.jpg");
    background-position: center;
    background-size: cover;
}
#home h2{
    top: 70px;
  position: fixed;
  font-size: 12px;
  left: 0px;
  backdrop-filter: blur(7px);
  background: #515fda99;
  border-radius: 15px 0;
  padding: 5px 14px;
  font-weight: 500;
  letter-spacing: .9px;
  filter: drop-shadow(1px 1px 2px #00260055);
  z-index: 0.5;
  /*its better to place the headlines under the section and also consider h1 for seo optimization (i also need to look new rules up, meh)*/
}
.homewrapper{
    position: relative;
    margin-right: 25%;
    display: contents;
    /*try never to let a div unnamed, also classNames are used more than ids, but depends on ur workstyle, so i gave it a name*/
}
#Logo{
    position: relative;
    z-index: -2;
}
#Logo img{
    display:flex;
    max-width: 80%;
    margin:60px auto 0 auto;
    filter: drop-shadow(0px 0px 27px #23d8b7bb)
    drop-shadow(1px 1px .1px #ffffffaa) 
    drop-shadow(1px -1px .1px #ffffffaa);
    scale: .8;
}
#vision,
#mission{
    color: white;
    text-shadow: .5px .5px 1px #001226, -.5px -.5px 1px #001226;
/*    margin: 10px 0;*/
    padding: 20px;
    z-index: 0;
}
#vision{
    border-radius: 25px 25px 0 0;
    background:radial-gradient(#23b499dd 10%,#2362b499);
    backdrop-filter: blur(7px);
    border: 2px solid #71a1a1aa;
    box-shadow: 0px 2px 9px #00265766;}
#mission{
    transform: translateX(-100%);
    border-radius: 25px 25px 0 0;
    margin: 1.5px 0px 0px 1.5px;
}
.containerhome{
    position:relative;
    max-width: 100vw;
    width: 100%;
    height: auto;
    padding:0 10%;
}
.containerhome .wrapperhome{
    margin-bottom: -2px;

    /*margin: 0 20px;*/
    overflow:hidden;
/*    overflow-y: hidden;
    overflow-x:scroll;
    scroll-behavior: smooth;
    scrollbar-width: none; }
.containerhome .wrapperhome::-webkit-scrollbar {
    display: none; hides scrollbar, but still let u skip through it, not working with current slider */
  }

.containerhome .wrapper-holderhome{
    display:grid;
    grid-template-columns: repeat(5,100%);
    height: auto;
    width:100%;
}
.homeanimationv{
    animation: homeanimation 33s linear infinite;
}
.homeanimationm{
    animation: homeanimation 33s linear reverse infinite;
}
.wrapper-holderhome>*{
    height: auto;
    width: 100%;
    background-position: center;
}
.slideehome{
    background-size: cover;
    width: 100%;
    height: 100%;
}
@keyframes homeanimation {
    0%,50%,100% { opacity: 0; }
    2%,48% { opacity:.5 }
    4%,46% { opacity: 1;}
}
.containerhome button,
.fakepseudov,
.fakepseudom{
    font-size: 1.42em;
    font-weight: 300;
    color: white;
    background:radial-gradient(#23a7a766 10%,#2362b466);
    backdrop-filter: blur(13px);
    border: 2px solid #71a1a1aa;
    text-shadow: .5px .5px 1px #001226, -.5px -.5px 1px #001226;
    padding: 5px;
    width: 124px;
    height: 70px;
    justify-content: center;
    text-align: center;
    transition: all .3s ease-in-out;
}
.buttonv:hover,
.buttonm:hover,
.buttonv:hover + .fakepseudov,
.buttonm:hover + .fakepseudom{
    scale: 1.15;
    transform-origin: top;
    box-shadow: 0px 2px 7px #00265755;
    background: radial-gradient(#23b499aa 10%,#2362b4aa);
    transition: all .3s ease-in-out;
    font-weight: 500;
}
.buttonv:active,
.buttonm:active,
.buttonv:active + .fakepseudov,
.buttonm:active + .fakepseudom{
    scale: 1.05;
    transform-origin: top;
    box-shadow: 0px 0px 7px #00265755;
    transition: all .3s ease-in-out;
    background: radial-gradient(#23b499ee 10%,#2362b4ee);
    text-shadow: 1px 1px 1px #001226, -1px -1px 1px #001226;
    border: 2px solid #48c3c3aa;
    border-top: 2px solid #00265722;
}
.buttonm:active,
.buttonm:active + .fakepseudom{
    border-left: 2px solid #003a5755;
}
.buttonv:active,
.buttonv:active + .fakepseudov{
    border-right: 2px solid #003a5755;
}
.buttonv{
    position: relative;
    display: inline-flex;
    align-items: center;
    border-radius: 0 25px;
    justify-content: flex-start;
    cursor:grab;
}
.visionanimation{
    animation: slideactivebtn 33s ease-in-out alternate infinite;
}
.fakepseudov{
    position: absolute;
    display: flex;
    border-radius: 0 25px;
    align-items: center;
    margin-top: -70px;
    z-index: -2;
    box-shadow: 0px 2px 9px #00265766;
}
.buttonm{
    position: absolute;
    display: absolute;
    border-radius: 25px 0;
    right: 10%;
    cursor:grab;
}
.missionanimation{
    animation: slideactivebtn ease-in-out 33s alternate-reverse infinite;
}
.fakepseudom{
    position: absolute;
    display: flex;
    border-radius: 25px 0;
    right: 10%;
    margin-top: -70px;
    align-items: center;
    z-index: -2;
    box-shadow: 0px 2px 9px #00265766;
}
@keyframes slideactivebtn {
    0%,50%,100% {  background:radial-gradient(#23b499aa 10%,#2362b477);opacity: 0; }
    2%,48% { background:radial-gradient(#23b499aa 10%,#2362b477); opacity:.5 }
    4%,46% { background:radial-gradient(#23b499aa 10%,#2362b477); opacity: 1;}
}
#info{
    background: violet;
    position: relative;
  display: table; /*or try inline-flex for more vertical design*/
}
#payment{
    background: yellow;
    margin: 0%;
    position: relative;
    display: table; /*or try inline-flex for more vertical design*/

}
#contact{
    background: green;
    position: relative;
    /*padding:25% 50% 50% 25%;*/
    display: table; /*or try inline-flex for more vertical design*/
}
/* headinggggggggggggggggggggggggggggggggggggggggggg */
a>img {
    position: relative;
    justify-content:center;
	align-items:center;
    height:86px;
	width:106px;
    filter:invert(2);
    opacity: .8;
    transform:scale(.9);
}
a>img:hover{
    filter: drop-shadow(2px 2px 4px #002657); 
    filter:invert(2);
}
#links{
    position: fixed;
    display:inline-flex;
    z-index:1003;
    height: 100%;
    right:-15px;
    top:-5.75px;
    transform:scale(.8);
    list-style: none;
}
#links span{
position: relative;
text-align: center;
}
#links li{
    margin: .5%;
}
.page {
    position: fixed;
    text-decoration: none;
    color: #fff;
    position:initial ;
    padding:11px 11px;
    /*background-color: #333333aa;*/
    background: radial-gradient(#23b499aa 20%,#2362b466);
    filter: backdrop-filter(13px);
    border-radius: 25px;
    transition: color 0.3s,
    background-color 0.3s;
	display:inline-grid;
	z-index:1001;
    filter: drop-shadow(-1px 0px 5px #c2c2c2cc); 
    transform-origin: top;
    transition: scale ease-in-out .3s;
    transform:scale(.85);
    filter: drop-shadow(0px 3px 3px #23b499aa) drop-shadow(1px 1px 2px #001226);
    ;
}
.page:hover{
    background: radial-gradient(#23d8b799 40%,#2362b4aa);
    scale: 1.05;
    filter: drop-shadow(-1px 0px 5px #aefff055);
    border: .5px solid #cccccc99;
    transition: scale ease-in-out .3s;
    margin-left:-1.5px;
    margin-top:-4px;

}
#heading {
    background: linear-gradient(45deg,#23b499aa 10%,#2362b4cc);
    backdrop-filter: blur(7px);
    color: #fff;
    height: 100px;
    width:100vw;
    margin: 0px;
    position: fixed;
    top:0;
    z-index: 1003;
    filter: drop-shadow(1px 1px 4px #292929aa);
    /*needs adjustment*/
  }
h1>img {
    width: 200px;
    margin-top:-14.5px;
    filter: drop-shadow(0px 0px 7px #23d8b7bb)
    drop-shadow(1px 1px .1px #ffffffaa) 
    drop-shadow(1px -1px .1px #ffffffaa);
    right: 10px;
    position: relative;
}
/* contentttttttttttttttttttttttttttttttttttttttttt */
#register {
    min-height:120vh;
    position: relative;
    grid-area: "content";
    display: inline-grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    /*background: red;*/
    background-image: url("./assets/images/PhotoReal_A_school_1.jpg");
    background-position: center;
    background-size: cover;
}
/*#register>img {
    width: 100%;
    height: 100vh;
    min-height: 100%;
    object-fit: cover;
    position: absolute; /*set to absolute just for testing
    top:0;
    right:0px;
    z-index: -2;
} */
form {
    background-color: #71a1a1aa; /*the aa at the end is the opacity/transparence, delete it for original color 00 (0 opacity) - ff (full opacity)*/
    backdrop-filter: blur(13px); /*makes the background blurry, delete it if u dont want and u can also try invert(100%) eg for cool x-ray effect*/
    z-index: 0;
}
label[for="birthday"]{
    font-size:1.2em;
    color:white;
}
input[type="date"] {
    background-color:#5c6664;
    width:150px;
    height:30px;
    border-radius:10px;
    border:0;
    padding-left:10px;
    font-size:1.3em;
    color:white;
    outline: white;
}
/* trianglesssssssssss */
/* old
#triangles {
    position: absolute;
    top:-10;
    height:0;
}
#triangle1{
    position: absolute;
    width: 100%;
	height: 0;
	border-top: 5px solid transparent;
	border-left: 700px solid #555;
	border-bottom: 400px solid transparent;
    position: relative;
    z-index: 2;
    top:-121px;
}

#triangle2{
    position: absolute;
    width: 0;
    height: 0;
    border-top: 500px solid transparent;
    border-left: 700px solid #333;
    border-bottom: 0px solid transparent;
    position: relative;
    z-index: 1;
    top:-200px;
} */
/* formmmmmmmmmmm */
legend{
    font-size: 1.3em;
}
form{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    gap:0;
    max-width: 100%;
    /* position:absolute; */
    /* right:-50%; i reposition ur form a little here back to who it was before, adjust it to ur liking, wont touch ur triangles tho before i break it more :3 mosty i replace the top or right attributes with margin-top, margin-right etc, most of the time u can keep the heights u used or simply reverse them by deleting or adding a - ;) */
    right:0;
}
#title {
	height:0;
	border-top:25px solid transparent;
	border-right:50px solid #555;
	border-bottom:25px solid transparent; 
    border-bottom:100px solid grey;
    position:relative;
    z-index:3;
    margin-top:-25px;
    left:0px;
}
 h2{
    text-align: center;
    position: relative;
    margin-top:30px;
    color: aliceblue;
}


#formIn {
    position: relative;
    margin-top:70px;
    margin-bottom:40px;
    z-index: 4;
}
fieldset{
    border-radius: 9px;
    position: relative;
    margin-top:20px;
    margin-left: 50px;
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;

}
::placeholder {
    color: white;
    opacity: 1; 
  }
::-ms-input-placeholder { 
    color: white;
}
#formPI{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1 fr;
    row-gap: 10px;
    column-gap: 10px;
    margin-top: -30px;
}

input[type="text"] {
    border:0;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    width:75%;
    height: 30px;
    outline: none;
    font-size: larger;
    margin-left: 40px;
}
#Acedmic {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
input[type='text']:hover{
    border-bottom: 1px solid #23b499;
    color: #2b2e2e;
}
input[type='text']:hover::placeholder {
    color: #2b2e2e; ; 
}
#contact2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

#contact2 > input {
    border:0;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    width:75%;
    height: 30px;
    outline: none;
    font-size: larger;
    margin-left: 40px;    
}
#contact2 > input:hover{
    border-bottom: 1px solid #23b499;
    color: #2b2e2e;
}
#contact2 > input:hover::placeholder {
    color: #2b2e2e; ; 
}
.comment {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;
}
.comment > label[for="comm"] {
    text-align: center;
    width:150px; /*was 20%, care if using % can break on too small or too big devices, doesnt scale always good, u can read about rem or em if u want more adjustable sizes, but can also be exhaustng to handle*/
    position: relative;
    font-size: 20px;
    padding:10px;
    background-color: #5c6664;
    border-radius: 20px;
    
    margin-top:0px; /*was 42*/
    margin-left: 40px;
    color:white;
}
textarea {
    z-index: 4;
    position: relative;
    margin-top:-9px; /*was 30*/
    margin-left: 70px;
    border:0;
    background-color: #5c6664; /*would recommend to adjust the grey areas to dark blue*/
    width:80%;
    height:100%;
    outline: none;
    font-size:medium;
    /* left: 40px; added this to above left */
    border-radius: 40px;
    padding: 20px;
    transition: color 0.3s,
    background-color 0.3s;
}
textarea:hover::placeholder{
    color: #2b2e2e; ; 
}
#button{
    position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#button >*{
    position: relative;
    margin-top:10px; /*was 40*/
    margin-left: 5%; /*was 10%*/
    width: 150px;
    height: 35px;
    color: white;
    background-color: #5c6664;
    border:0px;
    border-radius: 50px;
    transition: color 0.3s, background-color 0.3s;
}
#button >*:hover{
    background-color: #23b499;
    cursor: pointer;
}
select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
    box-shadow:none;
    border:0!important;
    background: #5c6664;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color:#fff;
    cursor:pointer;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
 }
 select::-ms-expand {
    display: none;
 }
 .select {
    position: relative;
    display: flex;
    width: 15em;
    height: 2em;
    line-height: 2;
    background: #5c6664;
    overflow: hidden;
    border-radius: .25em;
 }
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #2b2e2e;
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
 }
.select:hover::after {
    color: #23b499;
 }

#body2{
    position: relative;
    display: contents; /*also try out ruby-text, flex or inline-flex for more design ideas, try to find source (maybe registration) of mispositioning first before starting to style*/
}

/* endinggggggggggggggggggggggggggggggggggggggggg */
#ending {
    grid-area: "ending";
    background: linear-gradient(75deg,#23b499aa,#2362b4cc 10%,#23b499aa);
    color: #fff;
    text-align: center;
    height: 5%;
    z-index: 1000;
	bottom:0;
	position:fixed;
	width:100%;
	margin-bottom:0;
    backdrop-filter: blur(7px);
    font-size: .8rem;
}
.ending {
    position: relative;
    margin: 0%;
    padding: 0px;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    align-self: center;
}
hr {
    width: 50%;
    margin: 5px auto;
    border: .2px solid #fff;
    margin-top:5px;
    padding: 0 0px;
}

@media screen and (min-width:1000px){
    #Logo img{
        display:flex;
        max-width: 80%;
        margin:0px auto -10px auto;
    }
}
@media screen and (max-width:1000px){
    #Logo img{
        display:flex;
        max-width: 80%;
        margin:10px auto -20px auto;
    }
}
@media screen and (max-width:790px){
    #Logo img{
        display:flex;
        max-width: 80%;
        margin:40px auto -20px auto;
    }
}