@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Wix+Madefor+Display:wght@400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    font-family: 'Jura', sans-serif; /*ur main font and style*/
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
    -webkit-scroll-behavior: smooth; /*weblit helps for crossbrowser compatibility*/
}
/* body {
    width:100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "heading"
                         "content"
                         "ending";
    margin: 0;
    min-height: 100vh;
    overflow-y: unset; /*u can set later to scroll, but first clean mispositioning in div*/
    scroll-behavior: smooth; /*let u scroll smoother, also we need to adjust the scrolling so the section is adjusted to header or let header stop before section, so the start of it is visible*/
} */
/* section{
    position: relative;
    height:100%;
    width:100%;
    min-width:100vw;
    min-height:100vh;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:0;
    padding: 0;
} */
/* #home{
    background: blue;
    z-index: -1;}
    /*z-index controls the position of the "layer" (element) -1 is lower than 1, just worksunder special positining and display conditions*/
}
/* #home h2{
    top: 70px;
  position: fixed;
  font-size: 12px;
  left: 0px;
  backdrop-filter: blur(7px);
  background: #515fda99;
  border-radius: 15px 0;
  padding: 5px 14px;
  font-weight: 500;
  letter-spacing: .9px;
  filter: drop-shadow(1px 1px 2px #00260055);
  z-index: 0.5;
  /*its better to place the headlines under the section and also consider h1 for seo optimization (i also need to look new rules up, meh)*/
/*} */
.homewrapper{
    position: relative;
    margin-right: 25%;
    display: contents;
    /*try never to let a div unnamed, also classNames are used more than ids, but depends on ur workstyle, so i gave it a name*/
}
#Logo{
    position: relative;
    z-index: -2;
}
#Logo img{
    display:flex;
    margin:20px auto 0 auto;
    filter: drop-shadow(0px 0px 27px #23d8b7bb)
    drop-shadow(1px 1px .1px #ffffffaa) 
    drop-shadow(1px -1px .1px #ffffffaa);}
/* }
#info{
    background: violet;
    position: relative;
  display: table;} /*or try inline-flex for more vertical design*/

/*#payment{
    background: yellow;
    margin: 0%;
    position: relative;
    display: table; /*or try inline-flex for more vertical design*/


/* #contact{
    background: green;
    position: relative;
    padding:25% 50% 50% 25%;
    display: table; /*or try inline-flex for more vertical design
} */
/* headinggggggggggggggggggggggggggggggggggggggggggg */
a>img {
    position: relative;
    justify-content:center;
	align-items:center;
    height:86px;
	width: 100px;
    filter:invert(2);
    opacity: .8;
    transform:scale(.9);
}
a>img:hover{
    filter: drop-shadow(2px 2px 4px #002657); 
    filter:invert(2);
}
#links{
    position: fixed;
    display:inline-flex;
    z-index:1003;
    height: 100%;
    right:-15px;
    top:-5.75px;
    transform:scale(.8);
    list-style: none;
}
#links span{
position: relative;
text-align: center;
}
#links li{
    margin: .5%;
}
.page {
    text-decoration: none;
    color: #fff;
    position:initial ;
    padding:11px 11px;
    /*background-color: #333333aa;*/
    background: radial-gradient(#23b499aa 20%,#2362b466);
    filter: backdrop-filter(13px);
    border-radius: 25%;
    transition: color 0.3s,
    background-color 0.3s;
	display:inline-grid;
	z-index:1001;
    filter: drop-shadow(-1px 0px 5px #c2c2c2cc); 
    transform-origin: top;
    transition: all ease-in-out .3s;
    transform:scale(.85);
    filter: drop-shadow(0px 3px 3px #23b499aa) drop-shadow(1px 1px 2px #001226);
    ;
}
.page:hover{
    background: radial-gradient(#23d8b799 40%,#2362b4aa);
    scale: 1.05;
    filter: drop-shadow(-1px 0px 5px #aefff055);
    border: .5px solid #cccccc99;
    transition: all ease-in-out .3s;
    margin-left:-1px;
    margin-top:-4px;

}
#heading {
    background: linear-gradient(45deg,#23b499aa 10%,#2362b4cc);
    backdrop-filter: blur(7px);
    color: #fff;
    height: 100px;
    width:100vw;
    margin: 0px;
    position: fixed;
    top:0;
    z-index: 1003;
    filter: drop-shadow(1px 1px 4px #292929aa);
    /*needs adjustment*/
  }
h1>img {
    width: 200px;
    margin-top:-14.5px;
    filter: drop-shadow(0px 0px 7px #23d8b7bb)
    drop-shadow(1px 1px .1px #ffffffaa) 
    drop-shadow(1px -1px .1px #ffffffaa);
    right: 10px;
    position: relative;
}
/* contentttttttttttttttttttttttttttttttttttttttttt */

/* endinggggggggggggggggggggggggggggggggggggggggg */
#ending {
    grid-area: "ending";
    background: linear-gradient(75deg,#23b499aa,#2362b4cc 10%,#23b499aa);
    color: #fff;
    text-align: center;
    height: 5%;
    z-index: 1000;
	bottom:0;
	position:fixed;
	width:100%;
	margin-bottom:0;
    backdrop-filter: blur(7px);
    font-size: .8rem;
}
.ending {
    position: relative;
    margin: 0%;
    padding: 0px;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    align-self: center;
}
hr {
    width: 50%;
    margin: 5px auto;
    border: .2px solid #fff;
    margin-top:5px;
    padding: 0 0px;
}
