@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Wix+Madefor+Display:wght@400;500;600;700;800&display=swap');
*{
    margin:0;
    padding:0;
    font-family: 'Jura', sans-serif; /*ur main font and style*/
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
    -webkit-scroll-behavior: smooth; /*weblit helps for crossbrowser compatibility*/
}
body {
    width:100%;
    height: 0vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "heading"
                         "content"
                         "ending";
    margin: 0;
    overflow-y: unset; /*u can set later to scroll, but first clean mispositioning in div*/
    scroll-behavior: smooth; /*let u scroll smoother, also we need to adjust the scrolling so the section is adjusted to header or let header stop before section, so the start of it is visible*/
}
section{
    position: relative;
    height:100vh;
    width:100%;
    min-width:auto;
    min-height:100%;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:0;
    padding: 5%;
}
#home{
    z-index: -1;
    /*z-index controls the position of the "layer" (element) -1 is lower than 1, just worksunder special positining and display conditions*/
    background-image: radial-gradient(#23d8b7cc,#2362b499),
    url("./assets/background/home.jpg");
    background-position: center;
    background-size: cover;
    background-blend-mode:color;
    backdrop-filter: blur(175px);
}
#home::before{
    content:' ';
    position: absolute;
    min-width: 100%;
    height:100%;
    background: #ffffff00;
    backdrop-filter: blur(7px);
    z-index: -2;
    left:0;
    top:0;
    bottom:0;
    right:0;
}
#home h2{
  top: 70px;
  position: fixed;
  font-size: 12px;
  left: 0px;
  backdrop-filter: blur(7px);
  background: #515fda99;
  border-radius: 15px 0;
  padding: 5px 14px;
  font-weight: 500;
  letter-spacing: .9px;
  filter: drop-shadow(1px 1px 2px #00260055);
  z-index: 0.5;
}
.homewrapper{
    position: relative;
    margin-right: 25%;
    display: contents;
    /*try never to let a div unnamed, also classNames are used more than ids, but depends on ur workstyle, so i gave it a name*/
}
 #Logo{
    position: relative;
    z-index: -2;
}
#Logo img{
    display:flex;
    max-width: 80%;
    margin:60px auto 0 auto;
    filter: drop-shadow(0px 0px 27px #23d8b7bb)
    drop-shadow(1px 1px .1px #ffffffaa) 
    drop-shadow(1px -1px .1px #ffffffaa);
    scale: .8;
}
.boxthoughts #Logo{
    position: relative;
    z-index: -2;
    transform-style:preserve-3d;
    transform: perspective(1000px) rotateY(0deg);
}
.boxthoughts #Logo img{
    display:flex;
    min-width: 689px;
    height: fit-content;
    transform-style:preserve-3d;
    filter: drop-shadow(0px 0px 5px #2393d855)
    drop-shadow(2px 2px .1px #1c2156) 
    drop-shadow(2px -2px .1px #ffffffbb)
    drop-shadow(1px 0px 1px #ffffffbb)
    drop-shadow(-0px -4px 1px #23b4d899)
    drop-shadow(4px -0px 1px #23d8b799)
    drop-shadow(-4px 4px 1px #23b4d899);
    backdrop-filter: blur(1.5px);
    border-radius: 25%;
    scale: .75;
    transform: perspective(1000px) rotateY(0deg);
    transform-origin: top;
    margin-left: -119%;
    margin-top: -25%;
    display: unset;
    padding: 0 10%;
    -webkit-box-reflect:below 0px linear-gradient(transparent,transparent,rgba(233, 96, 96, 0.267));
}
#vision,
#mission{
    color: white;
    text-shadow: .5px .5px 1px #001226, -.5px -.5px 1px #001226;
    padding: 20px;
    z-index: 0;
}
#vision{
    border-radius: 25px 25px 0 0;
    background:radial-gradient(#23b499dd 10%,#2362b499);
    backdrop-filter: blur(7px);
    border: 2px solid #71a1a1aa;
    box-shadow: 0px 2px 9px #00265766;}
#mission{
    transform: translateX(-100%);
    border-radius: 25px 25px 0 0;
    margin: 1.5px 0px 0px 1.5px;
}
.containerhome{
    position:fixed;
    max-width: 100vw;
    width: 100%;
    height: auto;
    padding:0 10%;
    bottom: 0;
    margin: 2.5% -5%;
}
.containerhome .wrapperhome{
    margin-bottom: -2px;
    overflow:hidden;
}
.containerhome .wrapper-holderhome{
    display:grid;
    grid-template-columns: repeat(5,100%);
    height: auto;
    width:100%;
}
.homeanimationv{
    animation: homeanimation 33s linear infinite;
}
.homeanimationm{
    animation: homeanimation 33s linear reverse infinite;
}
.wrapper-holderhome>*{
    height: auto;
    width: 100%;
    background-position: center;
}
.slideehome{
    background-size: cover;
    width: 100%;
    height: 100%;
}
@keyframes homeanimation {
    0%,50%,100% { opacity: 0; }
    2%,48% { opacity:.5 }
    4%,46% { opacity: 1;}
}
@keyframes fadein {
    100% { opacity: 1;}
}
.fadein{
    animation: fadein 1s ease-in;
}
@keyframes fadeout {
    100% { opacity: 0;}
}
.fadeout{
    animation: fadeout .5s ease-out;
}
.containerhome button,
.fakepseudov,
.fakepseudom{
    font-size: 1.42em;
    font-weight: 300;
    color: white;
    background:radial-gradient(#23a7a766 10%,#2362b466);
    backdrop-filter: blur(13px);
    border: 2px solid #71a1a1aa;
    text-shadow: .5px .5px 1px #001226, -.5px -.5px 1px #001226;
    padding: 5px;
    width: 124px;
    height: 70px;
    justify-content: center;
    text-align: center;
    transition: all .3s ease-in-out;
}
.buttonv:hover,
.buttonm:hover,
.buttonv:hover + .fakepseudov,
.buttonm:hover + .fakepseudom{
    scale: 1.15;
    transform-origin: top;
    box-shadow: 0px 2px 7px #00265755;
    background: radial-gradient(#23b499aa 10%,#2362b4aa);
    transition: all .3s ease-in-out;
    font-weight: 500;
}
.buttonv:active,
.buttonm:active,
.buttonv:active + .fakepseudov,
.buttonm:active + .fakepseudom{
    scale: 1.05;
    transform-origin: top;
    box-shadow: 0px 0px 7px #00265755;
    transition: all .3s ease-in-out;
    background: radial-gradient(#23b499ee 10%,#2362b4ee);
    text-shadow: 1px 1px 1px #001226, -1px -1px 1px #001226;
    border: 2px solid #48c3c3aa;
    border-top: 2px solid #00265722;
}
.buttonm:active,
.buttonm:active + .fakepseudom{
    border-left: 2px solid #003a5755;
}
.buttonv:active,
.buttonv:active + .fakepseudov{
    border-right: 2px solid #003a5755;
}
.buttonv{
    position: relative;
    display: inline-flex;
    align-items: center;
    border-radius: 0 25px;
    justify-content: flex-start;
    cursor:grab;
}
.visionanimation{
    animation: slideactivebtn 33s ease-in-out alternate infinite;
}
.fakepseudov{
    position: absolute;
    display: flex;
    border-radius: 0 25px;
    align-items: center;
    margin-top: -70px;
    z-index: -2;
    box-shadow: 0px 2px 9px #00265766;
}
.buttonm{
    position: absolute;
    display: absolute;
    border-radius: 25px 0;
    right: 10%;
    cursor:grab;
}
.missionanimation{
    animation: slideactivebtn ease-in-out 33s alternate-reverse infinite;
}
.fakepseudom{
    position: absolute;
    display: flex;
    border-radius: 25px 0;
    right: 10%;
    margin-top: -70px;
    align-items: center;
    z-index: -2;
    box-shadow: 0px 2px 9px #00265766;
}
@keyframes slideactivebtn {
    0%,50%,100% {  background:radial-gradient(#23b499aa 10%,#2362b477);opacity: 0; }
    2%,48% { background:radial-gradient(#23b499aa 10%,#2362b477); opacity:.5 }
    4%,46% { background:radial-gradient(#23b499aa 10%,#2362b477); opacity: 1;}
}
#body4{

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50vh 50vh;
    height: 100%;
    width:100%;
    margin-top:140px;
    margin-bottom: 70vh;
    gap: 10px;
}
.container{
    position:relative;
    margin: 5%;
}
.container .wrapper{

    box-shadow: 10px 10px 10px rgba(0,0,0,0.6);
    margin: 5rem auto;
    overflow: hidden;
    border-radius: 5%;
}
.container .wrapper-holder{
    display:grid;
    grid-template-columns: repeat(5,100%);
    height: 100%;
    width:100%;
}
.wrapper-holder{
    animation: slide 40s infinite;
}
.wrapper-holder>*{
    height: 100%;
    width: 100%;
    background-position: center;
}
.slidee{
    background-size: cover;
    width: 100%;
    height: 100%;
}
@keyframes slide {
    0%, 12.5% { transform: translateX(0); }
    20%, 32.5% { transform: translateX(-100%); }
    40%, 52.5% { transform: translateX(-200%); }
    60%, 72.5% { transform: translateX(-300%); }
    80%,0% { transform: translateX(-400%); }
}
#info{
  position: relative;
  display: table; /*or try inline-flex for more vertical design*/
  background-image: radial-gradient(#23d8b7cc,#2362b499),
  url("./assets/background/info.jpg");
  background-position: center;
  background-size: cover;
  background-blend-mode:color;
  backdrop-filter: blur(175px);
}
#info::before{
    content:' ';
    position: absolute;
    min-width: 100%;
    height:100%;
    background: #ffffff00;
    backdrop-filter: blur(7px);
    z-index: -2;
    left:0;
    top:0;
    bottom:0;
    right:0;
}
#payment{
    margin: 0%;
    position: relative;
    display: table; /*or try inline-flex for more vertical design*/
    background-image: radial-gradient(#23d8b7cc,#2362b499),
    url("./assets/background/payment.jpg");
    background-position: center;
    background-size: cover;
    background-blend-mode:color;
    backdrop-filter: blur(175px);
}
  #payment::before{
      content:' ';
      position: absolute;
      min-width: 100%;
      height:100%;
      background: #ffffff00;
      backdrop-filter: blur(7px);
      z-index: -2;
      left:0;
      top:0;
      bottom:0;
      right:0;
}
#contact{
    position: relative;
    display: table; /*or try inline-flex for more vertical design*/
    background-image: radial-gradient(#23d8b7cc,#2362b499),
    url("./assets/background/register.jpg");
    background-position: center;
    background-size: cover;
    background-blend-mode:color;
    backdrop-filter: blur(175px);
}
#contact::before{
    content:' ';
    position: absolute;
    min-width: 100%;
    height:100%;
    background: #ffffff00;
    backdrop-filter: blur(7px);
    z-index: -2;
    left:0;
    top:0;
    bottom:0;
    right:0;
}
/* headinggggggggggggggggggggggggggggggggggggggggggg */
a>img {
    position: relative;
    justify-content:center;
	align-items:center;
    height:86px;
	width:106px;
    filter:invert(2);
    opacity: .8;
    transform:scale(.9);
}
a>img:hover{
    filter: drop-shadow(2px 2px 4px #002657); 
    filter:invert(2);
}
#links{
    position: fixed;
    display:inline-flex;
    z-index:1003;
    height: 100%;
    right:-15px;
    top:-5.75px;
    transform:scale(.8);
    list-style: none;
}
#links span{
position: relative;
text-align: center;
}
#links li{
    margin: .5%;
}
.page {
    position: fixed;
    text-decoration: none;
    color: #fff;
    position:initial ;
    padding:11px 11px;
    background: radial-gradient(#23b499aa 20%,#2362b466);
    filter: backdrop-filter(13px);
    border-radius: 25px;
    transition: color 0.3s,
    background-color 0.3s;
	display:inline-grid;
	z-index:1001;
    filter: drop-shadow(-1px 0px 5px #c2c2c2cc); 
    transform-origin: top;
    transition: scale ease-in-out .3s;
    transform:scale(.85);
    filter: drop-shadow(0px 3px 3px #23b499aa) drop-shadow(1px 1px 2px #001226);
}
.page:hover{
    background: radial-gradient(#23d8b799 40%,#2362b4aa);
    scale: 1.05;
    filter: drop-shadow(-1px 0px 5px #aefff055);
    border: .5px solid #cccccc99;
    transition: scale ease-in-out .3s;
    margin-left:-1.5px;
    margin-top:-4px;

}
#heading {
    background: linear-gradient(45deg,#23b499aa 10%,#2362b4cc);
    backdrop-filter: blur(7px);
    color: #fff;
    height: 100px;
    width:100vw;
    margin: 0px;
    position: fixed;
    top:0;
    z-index: 1003;
    filter: drop-shadow(1px 1px 4px #292929aa);
  }
h1>img {
    width: 200px;
    margin-top:-14.5px;
    filter: drop-shadow(0px 0px 7px #23d8b7bb)
    drop-shadow(1px 1px .1px #ffffffaa) 
    drop-shadow(1px -1px .1px #ffffffaa);
    right: 10px;
    position: relative;
}
/* contentttttttttttttttttttttttttttttttttttttttttt */
#register {
    position: relative;
    grid-area: "content";
    display: inline-grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    background-image: radial-gradient(#23d8b7cc,#2362b499),
    url("./assets/background/contactus.jpg");
    background-position: center;
    background-size: cover;
    background-blend-mode:color;
    backdrop-filter: blur(175px);
}
#register::before{
    content:' ';
    position: absolute;
    min-width: 100%;
    height:100%;
    background: #ffffff00;
    backdrop-filter: blur(7px);
    z-index: -2;
    left:0;
    top:0;
    bottom:0;
    right:0;
}
/*#register>img {
    width: 100%;
    height: 100vh;
    min-height: 100%;
    object-fit: cover;
    position: absolute; /*set to absolute just for testing
    top:0;
    right:0px;
    z-index: -2;
} */
form {
    border-radius: 25px 25px 0 0;
    background:radial-gradient(#23b499dd 10%,#2362b499);
    backdrop-filter: blur(7px);
    box-shadow: 0px 2px 9px #00265766; /*the aa at the end is the opacity/transparence / 00 (0 opacity) - ff (full opacity)*/
 /*makes the background blurry / invert(100%) eg for cool x-ray effect*/
    z-index: 0;
}
.birthday{
    padding-bottom: 5px;
}
label[for="birthday"]{
    font-size:1.2em;
    color:white;
    padding-left: 30px;
    text-align: center;
    width:150px;
    height: 40px;
    font-size: 20px;
    margin-right: 5px;
    padding:2.5px 10px;
    background-color: #002657;
    border-radius: 5px;
}
#grade{
    width:55px;
}
input[type="date"],
.submit input{
    background-color:#002657;
    width:88px;
    height:27px;
    border-radius:5px;
    border:0;
    font-size:11px;
    color:white;
    text-shadow: .5px .5px .05px #002657, -.25px -.25px .05px #002657;
    outline: white;
    position: absolute;
    text-align: center;
    margin-top: -2px;
}
.submit input{
display: grid;
margin-top: -17px;
position: relative;
width: 150px;
height: 35px;
color: white;
text-shadow: .5px .5px .05px #002657, -.25px -.25px .05px #002657;
background-color: #00265799;
border: 0px;
border-radius: 50px;
transition: color 0.3s, background-color 0.3s;
font-size: medium;
}
.submit input:hover{
    background-color: #002657;
    cursor: pointer;
}
/* trianglesssssssssss */
#triangles {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#triangle1{
    position: absolute;
	height: 0;
	border-top: 5px solid transparent;
	border-left: 50vw solid #00265755;
	border-bottom: 30vh solid transparent;
    position: relative;
}
#triangle2{
    position: absolute;
    width: 100%;
    height: 50vh;
    border-top: 70vh solid transparent;
    border-left: 50vw solid #00265755;
    border-bottom: 0px solid transparent;
    bottom: 0;
}
#contact #triangles{
    position: absolute;
    overflow: hidden;
    bottom:0;
    right:0;
    transform:scale(-1);
    width:100%;
    height: 100%;
    filter:contrast(1);
}
#contact #triangle1{
    position: absolute;
	height: 0;
	border-top: 5px solid transparent;
	border-left: 50vw solid #23b49955;
	border-bottom: 60vh solid transparent;
    position: relative;
}
#contact #triangle2{
    position: absolute;
    width: 100%;
    height: 50vh;
    border-top: 70vh solid transparent;
    border-left: 50vw solid #00265755;
    border-bottom: 0px solid transparent;
    bottom: 0;
}
/* formmmmmmmmmmm */
legend{
    font-size: 1.3em;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
    text-shadow: 1.5px 1.5px 1px #002657,
    -1.5px -1.5px 1px #23b499;
}
#contact form{
    border-radius: 25px 25px 0 0;
    background:radial-gradient(#23b499dd 10%,#2362b499);
    backdrop-filter: blur(7px);
    border: 2px solid #71a1a1aa;
    box-shadow: 0px 2px 9px #00265766;
    z-index: 0;
    height:100%;

}
#register form{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    gap:0;
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    height: 100vh;
    min-width: 545px;
    min-height:100vh;
}
#title {
    text-transform: uppercase;
	height:0;
	border-top:25px solid transparent;
	border-right:50px solid #23b499cc;
	border-bottom:25px solid transparent; 
    border-bottom:59px solid #23b499;
    position:relative;
    z-index:3;
    margin-bottom: 20px;
    margin-top:-50px;
    left:0px;
    top:25px;
    text-shadow: 1px 1px 1px #002657aa,
    -1px -1px 1px #ffffffaa,
    1px -1px 1px #002657aa,
    -1px 1px 1px #002657aa;
    font-size: x-large;
}
 h2{
    text-align: center;
    position: relative;
    margin-top:10px;
    padding-bottom: 20px;
    color: #abfff0dd;
}
#formIn {
    position: relative;
    z-index: 4;
}
fieldset{
    border-radius: 9px;
    position: relative;
    margin: 2.5% 5%;
    padding: 2% 5%;
}
#contact fieldset{
    margin: 5%;
    width: none;
}
::placeholder {
    color: white;
    text-shadow: .5px .5px .05px #002657, -.25px -.25px .05px #002657;
    opacity: 1; 
  }
::-ms-input-placeholder { 
    color: white;
    text-shadow: .5px .5px .05px #002657, -.25px -.25px .05px #002657;
}
#formPI{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1 fr;
    row-gap: 5%;
    column-gap: 5%;
    left:0;
}
input[type="text"] {
    width:50%;
    color: white;
    text-shadow: .5px .5px .05px #002657, -.25px -.25px .05px #002657;
    border:0;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    height: 30px;
    outline: none;
    font-size: larger;
}
#Acedmic {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
input[type='text']:hover{
    border-bottom: 1px solid #23b499;
    color: #002657;
}
input[type='text']:hover::placeholder {
    color: #002657;
}
#contact2 {
    display: grid;
    /*grid-template-columns: 1fr 1fr;*/
    grid-template-rows: 1fr;
}
#contact form{
    border-radius: 25px;
    padding: 1px;
    width:100%;
}
#contact2 > input {
    color: white;
    text-shadow: .5px .5px .05px #002657, -.25px -.25px .05px #002657;
    border:0;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    width:75%;
    height: 30px;
    outline: none;
    font-size: larger;
}
#contact2 > input:hover{
    border-bottom: 1px solid #23b499;
    color: #002657;
}
#contact2 > input:hover::placeholder {
    color: #002657;
}
.comment {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 0 2%;
}
.comment > label[for="comm"] {
    text-align: center;
    width:150px;
    height: 45px;
    position: relative;
    font-size: 20px;
    padding:10px;
    background-color: #00265799;
    border-radius: 20px;
    margin-left: 40px;
    color:white;
}
textarea {
    z-index: 4;
    position: relative;
    margin-top:5px;
    padding: 10px 20px;
    margin-left: 40px;
    border:0;
    background: #00265799; /*would recommend to adjust the grey areas to dark blue*/
    outline: none;
    font-size:medium;
    border-radius: 25px;
    padding: 10px 25px;
    transition: color 0.3s, background-color 0.3s;
    scrollbar-width: none;  /* Firefox */
    margin-right:40px;
    margin-bottom: 20px;
    min-width: 420px;
    color: white;
}
#contact textarea{
    margin: 10px 0px ;
    border-radius: 25px;
    scrollbar-width: none;
    max-width: none;
    width: 100%;
    height: 50%;
    min-width: unset;
}
textarea::-webkit-scrollbar,
textarea::-webkit-scrollbar-corner {
    border:none;
border-radius: 25px;
background: #00122688;
}
textarea:hover::placeholder{
    color: #002657;
}
#button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}
#button >*{
    position: relative;
    width: 150px;
    height: 35px;
    color: white;
    background-color: #00265799;
    border:0px;
    border-radius: 50px;
    transition: color 0.3s, background-color 0.3s;
    font-size: medium;
}
#button input:hover{
    background-color: #002657;
    cursor: pointer;
}
select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
    box-shadow:none;
    border:0!important;
    background: #00265799;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color:#fff;
    cursor:pointer;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
 }
 option{
    background: #23b4d899;
 }
 select::-ms-expand {
    display: none;
 }
 .select {
    position: relative;
    display: flex;
    width: 15em;
    height: 2em;
    line-height: 2;
    background: #002657;
    overflow: hidden;
    border-radius: .25em;
 }
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #001226;
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
    color:#23b4d899;
 }
.select:hover::after {
    color: #23b499;
 }
/* endinggggggggggggggggggggggggggggggggggggggggg */
#ending {
    grid-area: "ending";
    background: linear-gradient(75deg,#23b499aa,#2362b4cc 10%,#23b499aa);
    color: #fff;
    text-align: center;
    height: 5%;
    z-index: 1000;
	bottom:0;
	position:fixed;
	width:100%;
	margin-bottom:0;
    backdrop-filter: blur(7px);
    font-size: .8rem;
}
.ending {
    position: relative;
    margin: 0%;
    padding: 0px;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    align-self: center;
}
hr {
    width: 50%;
    margin: 5px auto;
    border: .2px solid #fff;
    margin-top:5px;
    padding: 0 0px;
}
/*3D Slider*/
#\33 Dspinningthoughts{
    position:fixed;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 80vw;
    transform-style:preserve-3d;
    scale: .8;
    top:0;
    margin: 2.5% 5%;
}
.containerbrain{
    position:relative;
    height: 100%;
    width: 100%;
    transform-style:preserve-3d;
    scale: 1;
    top:40%;
}
.boxthoughts{
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    transition: 1.5s;
    transform: perspective(1000px) rotateY(0deg);
}
.boxthoughts span{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(300px);
    -webkit-box-reflect:below 0px linear-gradient(transparent,transparent,rgba(96, 174, 233, 0.267));
}
.boxthoughts span p{
    display:grid;
    height:25%;
    color:white;
    text-align: center;
    justify-content: center;
    align-content: center;
    transform: translateZ(20px);
    background:radial-gradient(#23a7a799 10%,#2362b499);
    border: 1px solid #ffffffcc;
    border-radius: 25px;
    margin: -40px 15px 0px 15px;
    backdrop-filter: blur(4px) invert(3);
    text-transform:UPPERCASE;
    text-shadow: .5px .5px 1px #001226, -.5px -.5px 1px #001226;
    box-shadow: 0px 1px 15px #0f0731dd;

}
.boxthoughts span::before{
    content:"";
    position: absolute;
    top:207px;
    left: 10%;
    width: 80%;
    height:4%;
    border-radius: 100%;
    background: #0f073151;
    box-shadow: 0px 1px 15px #0f0731dd;
}
.boxthoughts span img{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit: cover;
    user-select: none;
    filter: saturate(1.3) contrast(1.2) brightness(1.1);
    border-radius: 25px;
}
.btns{
    position: absolute;
    display: flex;
    gap:30px;
    margin-left: -95px;
    margin-top:15%;
    transform: translateZ(500px);
}
.btns span p{
    display:grid;
    height:50px;
    color:white;
    text-align: center;
    justify-content: center;
    align-content: center;
    background:radial-gradient(#23a7a799 10%,#2362b499);
    border: 1px solid #ffffffcc;
    border-radius: 25px;
    backdrop-filter: blur(7px);
    text-transform:UPPERCASE;
    text-shadow: .5px .5px 1px #001226, -.5px -.4px 1px #001226;
    margin-top: 25px;
    padding: 0 15px;
    scale: 1.5;
    box-shadow: 0px 2px 7px #00265755;

}
.btns .btn{
    scale: 1.15;
    transform-origin: top;
    position: relative;
    width: 95px;
    height: 70px;
    border: 2px solid #ffffff77;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background:radial-gradient(#23a7a799 10%,#2362b499);
    box-shadow: 0px 2px 7px #00265755;
}
.prev{
    margin-right: 15px;
    border-radius: 0 25px;
}
.next{
    margin-left: 15px;
    border-radius: 25px 0;
}
.btns .btn:hover{
    scale: 1.25;
    transform-origin: top;
    box-shadow: 0px 2px 7px #00265755;
    background: radial-gradient(#23b499aa 10%,#2362b4aa);
    transition: all .3s ease-in-out;
    font-weight: 500;
    border: 2px solid #48c3c3aa;
    border-top: 2px solid #00265722;
    border-left: 2px solid #003a5755;
    border-right: 2px solid #003a5755;
}
.btns .btn:active{
    scale: 1.05;
    transform-origin: top;
    box-shadow: 0px 0px 7px #00265755;
    transition: all .3s ease-in-out;
    background: radial-gradient(#23b499ee 10%,#2362b4ee);
    text-shadow: 1px 1px 1px #001226, -1px -1px 1px #001226;
    border: 2px solid #48c3c3aa;
    border-top: 2px solid #00265722;
    border-left: 2px solid #003a5755;
    border-right: 2px solid #003a5755;
}
.btns .btn::before{
    content:"";
    position: absolute;
    width:15px;
    height:15px;
    border-top:3px solid #d5fffeff;
    border-right:3px solid #5dd8deaa;
    transform: rotate(45deg) translate(-2.5px,2.5px);
    filter:drop-shadow(.5px .5px 1px #001226);
}
.btns .btn.prev::before{
    transform: rotate(315deg) translate(-2.5px,2.5px) scaleX(-1);
    margin: -7px 0 0 7px;
}
.btns .btn:hover::before{
    border-right:3px solid #125d9faa;
}
.btns .btn:active::before{
    border-top:3px solid #d5fffeff;
    border-right:3px solid #2362b4aa;
    filter:drop-shadow(.5px .5px .5px #001226);
}
/*media query - screen sizes adjustment*/
/*@media screen and (min-width:1000px){
    #Logo img{
        display:flex;
        max-width: 80%;
        margin:0px auto -10px auto;
    }
}
@media screen and (max-width:1000px){
    #Logo img{
        display:flex;
        max-width: 80%;
        margin:10px auto -20px auto;
    }
}
@media screen and (max-width:790px){
    #Logo img{
        display:flex;
        max-width: 80%;
        margin:40px auto -20px auto;
    }
} */